@media (min-width: 768px) {
  .header-button {
    display: unset;
  }

  .header-list .list-item:nth-child(2) {
    display: unset;
  }

  .header-list .list-item:nth-child(1),
  .header-list .list-item:nth-child(4) {
    display: none;
  }

  .main {
    flex-direction: row;
  }

  .menu {
    position: unset;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 75px;
    border: none;
  }

  .menu-button {
    width: 75px;
    max-height: 75px;
  }

  .menu-button:nth-child(3) {
    display: none;
  }

  .menu-button:nth-child(5) {
    display: none;
  }

  .navigation {
    overflow-x: hidden;
  }

  .videos-container {
    padding-inline: 16px;
    margin: unset;
  }

  .card {
    flex-direction: row;
    gap: 8px;
  }

  .card-thumbnail {
    max-width: 300px;
    height: 100%;
    border-radius: 8px;
  }

  /* .card-details {
    flex: 1;
  } */

  .card-avatar.small-screen {
    display: none;
  }

  .card-title {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
  }

  .card-description-bottom {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin: 12px 0;
  }

  .card-info.small-screen {
    display: none;
  }

  .card-avatar.large-screen {
    display: flex;
    width: 24px;
    height: 24px;
  }

  .card-info-channel.large-screen,
  .card-info.large-screen {
    display: flex;
  }

  .card-info.large-screen:first-child::after {
    content: "";
  }

  .card-info-description {
    display: block;
    font-size: 12px;
    color: var(--gray-normal);
  }

  .verified-channel.large-screen,
  .verified-artist.large-screen {
    display: flex;
    fill: var(--gray-normal);
  }

  .card-info.large-screen svg {
    height: 12px;
    width: 12px;
  }
}
