:root {
  --gray-normal: #737373;
  --gray-dark: #0a0a0a;
  --gray-light: #f5f5f5;

  --font-title: "Roboto", sans-serif;
}

body {
  font-family: var(--font-title);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 24px;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-list .list-item {
  font-size: 20px;
  cursor: pointer;
}

.header-logo {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.header-logo svg {
  width: 100px;
}

.header-logo .country-code {
  font-size: 10px;
  color: var(--gray-normal);
}

.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: scroll;
  padding: 0 16px 8px;
}

.button-nav {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.button-nav:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-nav.active {
  background-color: rgba(0, 0, 0, 1);
  color: var(--gray-light);
}

.videos-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}

.card-thumbnail {
  max-width: 100%;
}

.card-details {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}

.card-description {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-description-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-description-bottom {
  display: flex;
  flex-direction: column;
}

.card-avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.card-avatar.large-screen {
  display: none;
}

.card-title {
  color: var(--gray-dark);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.verified-channel.large-screen,
.verified-artist.large-screen {
  display: none;
}

.card-info-channel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-info {
  font-size: 12px;
  flex-direction: row;
  color: var(--gray-normal);
  gap: 2px;
  line-height: 1.2;
}

.card-info-channel.large-screen {
  display: none;
}

.card-info:not(.card-info:last-child)::after {
  content: "\00A0\2022\00A0";
}

.card-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--gray-light);
  border-top: 1px solid var(--gray-normal);
  padding: 4px 0;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1;
  max-width: 38px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.footer-button span {
  font-size: 24px;
}

.footer-button:nth-child(3) span {
  font-size: 32px;
}

.footer-button img {
  width: 20px;
  height: auto;
  border-radius: 100%;
}

.footer-button p {
  font-size: 12px;
}
