:root {
  --gray-normal: #737373;
  --gray-dark: #0a0a0a;
  --gray-light: #f5f5f5;
  --font-title: "Roboto", sans-serif;
}

body {
  font-family: var(--font-title);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  position: fixed;
  z-index: 9999;
  background-color: white;
  width: calc(100% - 32px);
}

.header-main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.header-search-box {
  display: none;
  flex-direction: row;
  flex: 1;
  max-width: 400px;
}

.header-search-box div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-color: white;
  border: 1px solid var(--gray-normal);
  border-radius: 32px 0 0 32px;
  padding: 6px 16px;
  overflow: hidden;
}

.header-search-box input {
  border: none;
  outline: none;
  font-size: 16px;
}

.header-search-box button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-light);
  padding: 0;
  cursor: pointer;
}

.button-search {
  width: 60px;
  height: 40px;
  border: 1px solid var(--gray-normal);
  border-radius: 0 32px 32px 0;
  border-left: 0;
}

.button-mic {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  margin-left: 16px;
}

.button-mic:hover {
  filter: brightness(0.9);
}

.header-button {
  display: none;
  border: none;
  background-color: white;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header-button:hover {
  filter: brightness(0.9);
}

.header-button img {
  width: 32px;
  height: auto;
  border-radius: 100%;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-list .list-item {
  font-size: 20px;
  cursor: pointer;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: white;
}

.list-item:hover {
  filter: brightness(0.9);
}

.header-list .list-item:nth-child(2) {
  display: none;
}

.header-logo {
  display: flex;
  flex-direction: row;
  gap: 2px;
  text-decoration: none;
}

.header-logo svg {
  width: 100px;
}

.header-logo .country-code {
  font-size: 10px;
  color: var(--gray-normal);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 54px 0 54px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: scroll;
  padding: 8px 16px;
}

.button-nav {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.button-nav:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-nav.active {
  background-color: rgba(0, 0, 0, 1);
  color: var(--gray-light);
}

.videos-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.card-thumbnail {
  max-width: 100%;
}

.card-details {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}

.card-description {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-description-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-description-bottom {
  display: flex;
  flex-direction: column;
}

.card-avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.card-avatar.large-screen {
  display: none;
}

.card-title {
  color: var(--gray-dark);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.verified-channel.large-screen,
.verified-artist.large-screen {
  display: none;
}

.card-info-channel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-info {
  font-size: 12px;
  flex-direction: row;
  color: var(--gray-normal);
  gap: 2px;
  line-height: 1.2;
}

.card-info-channel.large-screen {
  display: none;
}

.card-info:not(.card-info:last-child)::after {
  content: "\00A0\2022\00A0";
}

.card-info-description {
  display: none;
}

.card-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-top: 1px solid var(--gray-normal);
  padding: 4px 0;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1;
  width: 38px;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  background-color: white;
}

.menu-button span {
  font-size: 24px;
}

.menu-button:nth-child(3) span {
  font-size: 32px;
}

.menu-button img {
  width: 20px;
  height: auto;
  border-radius: 100%;
}

.menu-button p {
  font-size: 12px;
}
