:root {
  --gray-normal: #737373;
  --gray-dark: #0a0a0a;
  --gray-light: #f5f5f5;

  --font-title: "Roboto", sans-serif;
}

body {
  font-family: var(--font-title);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-list .list-item {
  font-size: 20px;
  cursor: pointer;
}

.header-logo {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.header-logo svg {
  width: 100px;
}

.header-logo .country-code {
  font-size: 10px;
  color: var(--gray-normal);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.button-nav {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.button-nav:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-nav.active {
  background-color: rgba(0, 0, 0, 1);
  color: var(--gray-light);
}

.card-video {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 560px;
}

.card-video-image {
  border-radius: 6px;
  width: 100%;
}

.card-video-details {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.card-video-avatar {
  border-radius: 100%;
  width: 48px;
  height: 100%;
}

.card-video-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-video-title {
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
}

.card-video-list {
  display: flex;
  flex-direction: row;
}

.card-video-list-item {
  font-size: 14px;
  flex-direction: row;
  gap: 2px;
}

.card-video-list-item:not(.card-video-list-item:last-child)::after {
  content: "\00A0\2022\00A0";
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--gray-light);
  border-top: 1px solid var(--gray-normal);
  padding: 4px 0;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1;
  max-width: 38px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.footer-button span {
  font-size: 24px;
}

.footer-button:nth-child(3) span {
  font-size: 32px;
}

.footer-button img {
  width: 20px;
  height: auto;
  border-radius: 100%;
}

.footer-button p {
  font-size: 12px;
}
